body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.navbar-brand img {
  height: 50px;
}

.main-content {
  text-align: center;
  padding: 50px 20px;
}
.main-content img {
  max-width: 100%;
  height: auto;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 5px 0;
  font-size: 12px;
}
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.footer-info {
  margin-top: 10px;
}
.footer-link {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}
.nav-item {
position: relative;
padding-left: 20px;
padding-right: 20px;
}
.nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: #000;
}
.nav-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  font-weight: bolder;
}
.nav-link:hover, .nav-link.active {
  border-bottom: 2px solid #000;
}
.stylish-btn {
  background-color: #ff7f50; /* Coral */
  color: white;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 20px;
  transition: transform 0.3s, background-color 0.3s;
}
.stylish-btn:hover {
  background-color: #ff4500; /* OrangeRed */
  transform: scale(1.05);
}
