html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #343D87;
    padding: 5px;
    position: relative;
}

.logo img {
    width: 70px; /* 로고 이미지의 최대 너비를 100px로 설정 */
    height: 70px;
}

.sidebar {
    height: 100vh;
    width: 10%;
    position: fixed;
    top: 8%;
    left: 0;
    background-color: white;
    padding-top: 20px;
    border-right: 1px solid #E6E6E6;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed ul li a {
    display: flex;
    justify-content: center;
}

.sidebar.collapsed #profile-content,
.sidebar.collapsed .divider,
.sidebar.collapsed ul li a span {
    display: none;
}

.sidebar.collapsed .toggle-btn {
    transform: rotate(180deg);
}

.toggle-btn {
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 25%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#profile {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
}

#profile img {
    width: 50px; /* 프로필 이미지의 최대 너비를 50px로 설정 */
    height: 50px; /* 프로필 이미지의 최대 높이를 50px로 설정 */
    margin-right: 10px;
}

#profile-content p {
    margin: 5px;
}

#name {
    color: #2F54EB;
    font-weight: bold;
}

hr.divider {
    width: 85%;
    border: none;
    border-top: 1px solid #E6E6E6;
    margin: 10px auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: left;
    margin-left: 5px;
    position: relative;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.sidebar ul li a span {
    flex-grow: 1;
}

.sidebar span {
  margin-left: 20px;
}

.sidebar ul li a img {
    margin-right: 15px;
}

.sidebar ul li a:hover {
    background-color: #F0F5FF;
}

.dropdown-content {
    display: none;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
    border-left: 1px solid #E6E6E6;
}

.dropdown-content li {
    padding: 5px 0;
}

.dropdown-content.show {
    display: block;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 5px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.main-content {
    margin-left: 18%;
    padding: 20px;
    transition: margin-left 0.3s;
}

.main-content.collapsed {
    margin-left: 80px;
    transition: margin-left 0.3s;
}

.footer {
    text-align: right;
    padding: 20px 20px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: calc(100% - 18%);
    margin-left: 18%;
    transition: margin-left 0.3s, width 0.3s;
}

.footer.collapsed {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.footer .footer-content p {
    margin: 5px 0;
    color: black;
    font-size: 15px;
    margin-right: 100px;
}

.footer .footer-content a {
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
